*{
    box-sizing: border-box;
    font-family:cursive;
}
body{
    /* background-color:aqua; */
    background-color: cornflowerblue;
}

.container{
    display: flex;
    width: 95%;
    margin: auto;
    margin-top: 2rem;
    flex-wrap: wrap;
}

button{
    display: block;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    position: relative;
    left: 79rem;
}

button:active{
    opacity: 0.7;
}

i,button{
    color: white;
    cursor: pointer;
}

div.note{
    background-color: white;
    width: 25%;
    margin-left: 3rem;
    box-shadow: 2px 3px 5px 5px rgba(0, 0, 0, 0.39);
    margin-bottom: 3rem;
    
}
.features,button{
    padding: 5px;
    background-color: limegreen;
}
.features{
    display: flex;
    justify-content: flex-end;
}

i{
    margin-left: 4px;
}

i:active{
    color: lightgrey;
}
.notes{
    padding: 5px 7px;
    background-color: white;
    color: black;
    width: 100%;
    min-height: 10vh;
}

.notes:focus,.notes:active{
    outline: none;

}